
<style>
    #sortable { list-style-type: none; margin: 0; padding: 0; width: 80%; }
    #sortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; }
    html>body #sortable li { height: 2.5em; line-height: 1.2em; }
</style>

<% issue_cfs = CustomField.where("type= 'IssueCustomField' and field_format in ('string') ")  %>
<div>
  <ul id="sortable">
  <% issue_cfs.each do |issue_cf| %>
     <li class="ui-state-default">
       <%= check_box_tag("settings[#{issue_cf.name}]", true, @settings[issue_cf.name]) %> <%= issue_cf.name %> <br/>

       <%= check_box_tag("settings[cf_uniq_#{issue_cf.name}]", true, @settings["cf_uniq_#{issue_cf.name}"]) %> verify uniquness
       <%= check_box_tag("settings[cf_auto_increment_#{issue_cf.name}]", true, @settings["cf_auto_increment_#{issue_cf.name}"]) %> auto increment
       <%= check_box_tag("settings[cf_global_#{issue_cf.name}]", true, @settings["cf_global_#{issue_cf.name}"]) %> In all projects
       <%= check_box_tag("settings[cf_readonly_#{issue_cf.name}]", true, @settings["cf_readonly_#{issue_cf.name}"]) %> ReadOnly in edit page view

     </li>
  <% end  %>
  </ul>
</div>

<div>
  <ul id="sortable">
    <li class="ui-state-default">
      Default_auto add value:
      <%= text_field_tag('settings[redmine_default_auto_add_value]', settings["redmine_default_auto_add_value"]) %>

    </li>
  </ul>
</div>
<script>
  $('li').children('input:first').change()
</script>
